<button id=take-off class="push-button" (click)="takeOff()">Take Off</button>
<button id="land" class="push-button" (click)="land()">Land</button>
<button id="arm" class="push-button" (click)="arm()">Arm</button>
<button id="disarm" class="push-button" (click)="disarm()">Disarm</button>
<button id="guided-mode" class="push-button" (click)="guidedmode()">Guided<br>Mode</button>
<button id="pos-mode" class="push-button" (click)="posmode()">Position<br>Hold Mode</button>
<br>
<input type="checkbox" id="checkbox-2-1" class="regular-checkbox big-checkbox" />
<span id="checbox-1" class="input-text">Yaw PID Active</span>
<input type="checkbox" id="checkbox-2-2" class="regular-checkbox big-checkbox" />
<span id="checkbox-2" class="input-text">Position PID Active</span>
